<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./components/head')%>
  </head>

  <body>
    <%- include('./components/nav')%>

    <main>
      <section id="cards">
        <h2>Classificados</h2>

        <% motos.forEach((moto) => { %>

        <div class="card">
          <img src="<%= moto.imagem %>" alt="" />
          <h3><%= moto.nome %></h3>
          <p class="descricao"><%= moto.descricao %></p>

          <p>Preço R$: <%= moto.tipo %></p>
          <a id="editar" href="/getById/<%= moto.id %>/put">Editar</a>
          <a id="apagar" href="/getById/<%= moto.id %>/delete">Apagar</a>
        </div>
        <% }) %>
      </section>
    </main>

    <% if (motoPut != null) {%> <%- include('./components/modalPut')%> <% } %>

    <% if (motoDel != null) {%> <%- include('./components/modalDel')%> <% } %>
    
    
  </body>
</html>
